
#navbar{
    background-color: rgb(73, 70, 70);
    margin-bottom: 5px;
}


#bodyTop {
    background-color: rgb(233, 233, 233);
    height: 230px;
}

#footer {
    margin-top: 20px;
    background-color: rgb(73, 70, 70);
    height:70px;
    justify-content: center;
    
}


