
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

#navbar{
    background-color: rgb(73, 70, 70);
    margin-bottom: 5px;
}


#bodyTop {
    background-color: rgb(233, 233, 233);
    height: 230px;
}

#footer {
    margin-top: 20px;
    background-color: rgb(73, 70, 70);
    height:70px;
    justify-content: center;
    
}


